<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Tournament</title>
</head>
<body>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <div class="container mt-5">
        <form>
            <div class="mb-3">
                <label for="nameInput" class="form-label">Name:</label>
                <input id="Name" type="text" class="form-control" id="nameInput" placeholder="Enter name" required>
            </div>
            <div class="mb-3">
                <label for="modeSelect" class="form-label">Mode:</label>
                <select id = "Mode" class="form-select">
                    <option value="">None</option>
                    <option value="singles">Singles</option>
                    <option value="doubles">Doubles</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="barInput" class="form-label">Bar:</label>
                <select id="Bar" class="form-select"></select>
            </div>
            <div class="mb-3">
                <label for="dateInput" class="form-label">Date:</label>
                <input id="Date" type="date" class="form-control" id="dateInput">
            </div>
        </form>
        <button onclick="newTournament()" class="btn btn-primary">Submit</button>
    </div>

    <script>
        const $ = (x) => document.getElementById(x);

        async function pagePrep(){
            let barDB = await axios.get('http://localhost:8080/bar/all')
            for (bar in barDB.data) {
                var x = $('Bar')
                var opt = document.createElement("option")
                opt.text = barDB.data[bar].Name
                opt.value = barDB.data[bar].Name
                x.add(opt)
            }
        }

        async function newTournament(){
            let data = { }
            let Name = $('Name').value
            let Mode = $('Mode').value
            let Bar = $('Bar').value
            let Date = $('Date').value
            let result = await axios.post('http://localhost:8080/tournament/create',{"Name":Name,"Mode":Mode,"Bar":Bar,"Date":Date})
            if (result.data == "OK"){
                window.location.href = '/tournament';  
            }
        }

        pagePrep()
    </script>
    
</body>
</html>